<nav class="navbar navbar-expand-sm navbar-dark justify-content-between navbar-expand-lg sticky-top" style="background: #396B34">
	<a class="navbar-brand" href="#">
		<img src="/assets/brand/logo2-white.png" alt="" height="15px">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
		
		<div class="navbar-nav">
			<a class="active nav-link">Охапка цветов</a>
			<a class="nav-link">Букеты</a>
			<a class="nav-link">Композиции</a>
			<a class="nav-link">Сухоцветы</a>
			<a class="nav-link">Наши контакты</a>
			{{!-- <span class="navbar-text d-none d-md-block">Доставляем цветы бесплатно*</span> --}}
		</div>
	</div>
</nav>
{{!-- 
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/assets/brand/photos/1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/brand/photos/2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/brand/photos/3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
 --}}
<div class="container-fluid p-0">


		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
		
		  <div class="carousel-inner">

		    <div class="carousel-item active container-fluid">
				<div class="row">
					<div class="p-5 col-12 col-md-6 order-2 order-md-1 d-flex flex-column justify-content-between">
						<div>
							<div class="slider-title"><h3>Снежок</h3></div>
							<hr>
							<div class="slider-description d-none d-md-block">
								<p>Добрый день, дорогие друзья!</p>
								<p class="">Как вам сегодня погодка?! Ухх.. снежок❄ Зима еще только стучится в двери, а у нас уже для вас собраны прекрасные солнечные композиции с тюльпанами ведь зимой так хочется тепла и солнышка.</p>
							</div>
						</div>
						<div class="d-flex flex-row justify-content-between slider-order my-2">
							<button type="button" class="btn btn-outline-success btn-lg">Заказать!</button>
							<h3 class="">490 руб.</h3>
						</div>
					</div>
					<div class="col-12 col-md-6 p-0 order-1 order-md-2 slider-img" style=" background-image: url(/assets/brand/photos/1.jpg); background-size: cover;  background-position: center;"></div>
				</div>
		    </div>

		    <div class="carousel-item container-fluid">
				<div class="row">
					<div class="p-5 col-12 col-md-6 order-2 order-md-1 d-flex flex-column justify-content-between">
						<div>
							<div class="slider-title"><h3>Снежок</h3></div>
							<hr>
							<div class="slider-description d-none d-md-block">
								<p>Добрый день, дорогие друзья!</p>
								<p class="">Как вам сегодня погодка?! Ухх.. снежок❄ Зима еще только стучится в двери, а у нас уже для вас собраны прекрасные солнечные композиции с тюльпанами ведь зимой так хочется тепла и солнышка.</p>
							</div>
						</div>
						<div class="d-flex flex-row justify-content-between slider-order my-2">
							<button type="button" class="btn btn-outline-success btn-lg">Заказать!</button>
							<h3 class="">490 руб.</h3>
						</div>
					</div>
					<div class="col-12 col-md-6 p-0 order-1 order-md-2 slider-img" style=" background-image: url(/assets/brand/photos/2.jpg); background-size: cover;  background-position: center;"></div>
				</div>
		    </div>

		    <div class="carousel-item container-fluid">
				<div class="row">
					<div class="p-5 col-12 col-md-6 order-2 order-md-1 d-flex flex-column justify-content-between">
						<div>
							<div class="slider-title"><h3>Снежок</h3></div>
							<hr>
							<div class="slider-description d-none d-md-block">
								<p>Добрый день, дорогие друзья!</p>
								<p class="">Как вам сегодня погодка?! Ухх.. снежок❄ Зима еще только стучится в двери, а у нас уже для вас собраны прекрасные солнечные композиции с тюльпанами ведь зимой так хочется тепла и солнышка.</p>
							</div>
						</div>
						<div class="d-flex flex-row justify-content-between slider-order my-2">
							<button type="button" class="btn btn-outline-success btn-lg">Заказать!</button>
							<h3 class="">490 руб.</h3>
						</div>
					</div>
					<div class="col-12 col-md-6 p-0 order-1 order-md-2 slider-img" style=" background-image: url(/assets/brand/photos/3.jpg); background-size: cover;  background-position: center;"></div>
				</div>
		    </div>
		  </div>
		
		  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true" style="background-image: url(assets/left-arrow.png);"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true" style="background-image: url(assets/right-arrow.png);"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>

</div>


<div id="promo"></div>
<div class="products"></div>
